@import "vars";
@import "./components/components.scss";

@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap");

//portatil-peq
@media only screen and (max-width: 1024px) {
  [class="Layout"] {
    grid-template-columns: repeat(8, 1fr);
    margin: 0 3%;
  }
  [class="Character"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

//tablet
@media only screen and (max-width: 768px) {
  [class="Layout"] {
    grid-template-columns: repeat(8, 1fr);
    margin: 0 3%;
  }
  [class="Character"] {
    grid-template-columns: repeat(2, 1fr);
  }
}

//mobile
@media only screen and (max-width: 425px) {
  [class="Layout"] {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
  }
  [class="Character"] {
    grid-template-columns: auto;
  }

  [class="MenuCard"] {
    flex-direction: column;
  }
  [class="details"] {
    grid-template-columns: auto;
  }
  [class*="Book__Item"] {
    flex-wrap: wrap;
  }
  [class*="spell__Item"] {
    flex-wrap: wrap;
  }
}
