@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap");
.Layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 5%;
  z-index: 1;
}

.title-name {
  font-family: "Bilbo Swash Caps", cursive;
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 80px;
  margin: 0;
  left: 8%;
}

.home {
  grid-column-start: 1;
  grid-column-end: 13;
  position: relative;
  top: 150px;
  z-index: 1;
}

.Character {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 10px;
}
.Character img {
  width: 100px;
  object-fit: cover;
  position: relative;
}
.Character button {
  border: none;
  padding: 5px;
  margin: 5px 0;
  width: 50%;
  border-radius: 25px;
}
.Character button:hover {
  cursor: pointer;
}

.Character__Info {
  display: flex;
}
.Character__Info div {
  flex: 1;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.829);
  align-items: center;
  justify-content: center;
}
.modal button {
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #5e181865;
  color: #fff;
}
.modal button:hover {
  background-color: #9b091fd7;
}
.modal button::before {
  content: "X";
}

.details {
  position: relative;
  color: white;
  background-color: #0e0e0e;
  margin: 0;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  justify-items: center;
}
.details section {
  display: grid;
}
.details h2 {
  display: inline;
  margin: 0;
  color: #9b091e;
}
.details h3 {
  display: inline;
  margin: 0;
}
.details img {
  height: 300px;
  object-fit: contain;
  float: left;
}
.details div {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-direction: column;
}

.Book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Book__Item {
  text-align: center;
  width: -webkit-fill-available;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.Book__Item img {
  width: 300px;
}
.Book__Item .Info__Text {
  padding: 20px;
}
.Book__Item .Info__Text p {
  font-size: 25px;
}

.Spell {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.spell__Item {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: center;
}
.spell__Item img {
  width: 100px;
}

.Spell__Item__Text {
  width: -webkit-fill-available;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.Spell__Item__Text h1 {
  margin: 10px 0;
}
.Spell__Item__Text p {
  margin: 0%;
  display: block;
  font-size: 25px;
}

.header {
  height: 50px;
  font-family: "Bilbo Swash Caps", cursive;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  z-index: 10;
}

.header__container1 {
  display: flex;
  flex: 1;
}
.header__container1 h1 {
  position: relative;
  left: 10vw;
}
.header__container1 img {
  position: relative;
  left: 8vw;
  height: 50px;
  object-fit: cover;
}

.header__container2 {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}
.header__container2 img {
  position: relative;
  width: 100px;
  z-index: 10;
}
.header__container2 img:hover {
  cursor: pointer;
  top: 5px;
}

.MenuCard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.MenuCard div {
  flex: 1;
}

.MenuCard__Card {
  border-radius: 25px;
  position: relative;
  align-items: center;
}
.MenuCard__Card img {
  width: 100%;
  border-radius: 20px;
  filter: grayscale(0.5);
}
.MenuCard__Card img:hover {
  filter: grayscale(0);
}
.MenuCard__Card h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  object-fit: cover;
  transition: 2s;
}
.MenuCard__Card:hover {
  cursor: pointer;
}
.MenuCard__Card:hover h1 {
  display: none;
  transition: 2s;
}

.Card__Container {
  border-radius: 25px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  [class=Layout] {
    grid-template-columns: repeat(8, 1fr);
    margin: 0 3%;
  }

  [class=Character] {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  [class=Layout] {
    grid-template-columns: repeat(8, 1fr);
    margin: 0 3%;
  }

  [class=Character] {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 425px) {
  [class=Layout] {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
  }

  [class=Character] {
    grid-template-columns: auto;
  }

  [class=MenuCard] {
    flex-direction: column;
  }

  [class=details] {
    grid-template-columns: auto;
  }

  [class*=Book__Item] {
    flex-wrap: wrap;
  }

  [class*=spell__Item] {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
