.header {
  height: 50px;
  font-family: "Bilbo Swash Caps", cursive;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  z-index: 10;
}

.header__container1 {
  display: flex;
  flex: 1;
  h1 {
    position: relative;
    left: 10vw;
  }
  img {
    position: relative;
    left: 8vw;
    height: 50px;
    object-fit: cover;
  }
}

.header__container2 {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  img {
    position: relative;
    width: 100px;
    z-index: 10;
    &:hover {
      cursor: pointer;
      top: 5px;
    }
  }
}
