.MenuCard {
  // display: flex;
  // flex-wrap: wrap;
  gap: 50px;
  display: grid;
  grid-template-rows: auto;
  padding-bottom: 40px;
}

.MenuCard__Card {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s;

  img {
    position: relative;
    // width: 200px;
    aspect-ratio: 16/9;
    // height: -webkit-fill-available;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    filter: grayscale(0.5);
    display: flex;
  }
  h1 {
    position: relative;
    text-align: center;
    font-size: 45px;
    left: 20px;
  }
  &:hover {
    cursor: pointer;

    img {
      transition: 2s;
      filter: grayscale(0);
    }

    .loadMenu {
      width: 50%;
      height: 130px;
      position: absolute;
      transition: 0.5s;
    }

    h1 {
      transition: 0.3s;
      color: white;
    }
  }
}

.loadMenu {
  width: 100px;
  height: 130px;
  border-radius: 25px;
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.Card__Container {
  border-radius: 25px;
  width: 100%;
}

.--links {
  text-decoration: none;
}
