.MenuCard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  div {
    flex: 1;
  }
}

.MenuCard__Card {
  border-radius: 25px;
  position: relative;
  align-items: center;
  img {
    width: 100%;
    border-radius: 25px;
    filter: grayscale(0.5);
    &:hover {
      filter: grayscale(0);
    }
  }
  h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.6);
    &:hover {
      opacity: 0.5;
      .MenuCard {
        filter: grayscale(1);
      }
    }
  }
  &:hover {
    // h1 {
    //   opacity: 0;
    // }
  }
}

.Card__Container {
  border-radius: 25px;
  width: 100%;
}
