.home {
  grid-column-start: 1;
  grid-column-end: 13;

  //temporal
  position: relative;
  top: 150px;
  z-index: 1;
}

.Character__Page {
  grid-column-start: 1;
  grid-column-end: 13;
}

.Character {
  position: relative;
  top: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 30px;
  img {
    width: 100px;
    object-fit: cover;
    position: relative;
  }

  &:hover {
    cursor: pointer;
  }
}

.Character__Info {
  display: flex;
  div {
    flex: 1;
  }
}

.details {
  position: relative;
  color: white;
  background-color: #0e0e0e;
  margin: 0;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  justify-items: center;
  section {
    display: grid;
  }

  h2 {
    display: inline;
    margin: 0;
    color: #9b091e;
  }

  h3 {
    display: inline;
    margin: 0;
  }
  img {
    height: 300px;
    object-fit: contain;
    float: left;
  }
  div {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-direction: column;
  }
}

.Book {
  grid-column-start: 1;
  grid-column-end: 13;
  position: relative;
  top: 150px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.Book__Item {
  text-align: center;
  width: -webkit-fill-available;
  padding: 10px;
  display: flex;
  justify-content: center;

  img {
    width: 300px;
  }

  .Info__Text {
    padding: 20px;
    p {
      font-size: 25px;
    }
  }
}

.Spell {
  grid-column-start: 1;
  grid-column-end: 12;
  position: relative;
  top: 150px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.spell__Item__Text {
  border-radius: 10px;
  padding: 10px;

  h1 {
    margin: 10px 0;
  }
  p {
    margin: 0%;
    display: block;
    font-size: 25px;
  }
}
